DALTP_dataset/

venv/
.venv/

env/
.env
*.env

scripts/
.scripts/

/notes.txt

__pycache__/

backend/dataset/dataset_construction/generated_datasets/
backend/training/outputs/
backend/evaluation/outputs/
local_run_commands.md

